/* CSS */

#conteudo-padrao {
  background: #EEE8AA;
  margin: auto;
  width: 900px;
  height: auto;
  text-align: center;
}

.geral-padrao{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.geral-card {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 8px;
  width: 200px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.btn {
  background-color: #BDB76B;
  color: white;
  width: 120px;
  height: 15px;
  margin-top: 12px;
  padding: 16px 10px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.btn:hover {
  background-color: #556B2F;
  color: white;
}

/* Propriedades do Conteudo */
@media (min-width: 300px) {
  #conteudo-padrao {
    width: 300px;
  }
}


@media (min-width: 600px) {
  #conteudo-padrao {
    width: 600px;
  }
}

@media (min-width: 900px) {
  #conteudo-padrao {
    width: 900px;
  }
}

/* Propriedades dos Cards */
@media (max-width: 900px) {
  .geral-padrao {
    grid-template-columns: 1fr;
  }
  
  .geral-card {
    width: auto;
  }
}
  
