.btn-dark{
    width: 160px;
}

.btn-dark.btn-lg {
    margin: 10px;
}

.nav-link.btn.btn-dark.btn-lg{
    background-color: gray;
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}

@media (min-width: 200px) {
    .grid-cards{
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }
}
  
@media (min-width: 550px) {
    .grid-cards{
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }    
}
  
@media (min-width: 850px) {
    .grid-cards{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
    }    
}
